<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chatrooms</title>
  <link rel="stylesheet" href="../css/chatroom.css">
	<script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
	$(function(){
		var host = '{{config.host}}';
		var socket = io.connect(host + '/roomlist'); // http://localhost:3000/roomlist
		socket.on('connect', function(){
			console.log('Connection Established !');
		});
  });
  </script>
</head>
<body>
	<div class="cr-container">
		<h1 class="cr-title">ASAPP Chat</h1>
		<div class="cr-userbox">
			<h3 class="userName">Hello {{user}}, choose the chatroom you'd like to enter:</h3>
		</div>
		<div class="cr-roomlist">
		</div>
	</div>
</body>
</html>
